html, body, #app, #app>div {
  height: 100%
}

.VotingComponent {
  border: 1px solid red;
  width: 100%;
}

.VotingComponent th {
  border: 1px solid blue;
  text-align: left;
}

.warning {
  padding: calc(1%);
  border: 1px solid red;
  border-radius: 3px;
  background-color: lightcoral;
  color: white;
}

.ConfirmationComponent {
  --containerWidth: 100%;
  background-color: aliceblue;
  position: absolute;
  left: calc(100% - (var(--containerWidth)/2) - 75px);
  z-index: 10;
}

