html, body, #app, #app>div {
  height: 100%;
  background: #2632C9D9;
  background-image: url('./assets/AuthentificationPortait3.png');
  color: white;
}

#navBar {
  background-color: #DADCEF;
  display: flex;
  justify-content: flex-end;
}

#navBar span {
  margin: 0 3%;
  padding: 0.5% 0;
  color: #020752;
  cursor: pointer;
}

.logo {
  width: 75px;
  height: 75px;
  margin: 5px 0 5px calc((100%/2) - 75px/2);
}

.VotingComponent {
  margin: 0 15%;
  background-color: #E5E5E5;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.VotingComponent table {
  width: 100%;
}

.VotingComponent th {
  text-align: left;
  color: #020752;
}

.warning {
  padding: calc(1%);
  border: 1px solid red;
  border-radius: 3px;
  background-color: lightcoral;
  color: white;
}

button {
  border-radius: 3px;
  border: none;
  padding: 5px;
}

.radioSelect {
  margin: 0 5%;
}

.submitArea {
  width: 20%;
  margin: 0 0 0 80%;
  padding: 1% 0;
}

.submitArea span {
  padding: 0 5px;
}

.submitArea button {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

td {
  padding: 1% 5px;
  color: #020752;
}

tr:nth-child(even) {background: #DADCEF}
tr:nth-child(odd) {background: #F8F8F8}

.votingRadios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.votingRadios .radioRow {
  width: 100%;
}

.writeIns input {
  width: 90%;
}

.ConfirmationComponent {
  --containerWidth: 30%;
  background: #DADCEF;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;
  width: var(--containerWidth);
  position: absolute;
  top: 50vh;
  left: calc(50vw - (0.5*var(--containerWidth)));
  z-index: 10;
  text-align: center;
  padding: 2%;
}

.ConfirmationComponent .heading {
  font-weight: bold;
}

.closeButton {
  margin: 0 85%;
  background-color:#dadcefb9;
}

.castButton {
  width: 100%;
  background-color: #D13540;
  border-radius: 3px;
  color: white;
}

button {
  cursor: pointer;
}

.welcome {
  margin: 5% 0 0 0;
  width: 100%;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome a {
  background-color: #DADCEF;
  border-radius: 3px;
  padding: 20px;
  color: #6d6d6d;
  text-decoration: none;
}